<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id= "application_context_aware_test_id" class = "org.spring.ioc.beanlifecycle.applicationcontextaware.ApplicationContextAwareTest"></bean>
	<bean id= "test_bean_id" class = "org.spring.ioc.beanlifecycle.applicationcontextaware.TestBean"></bean>
</beans>	
